/* add your CSS here */

.card {
  padding: 10px;
  border: 1px solid #DCDCDC;
  box-shadow: 10px 10px 5px  grey;
  width: 305px;
  background-color:  	#00b3b3;
}

.facts {
  border: 1px solid #DCDCDC;
  padding: 8px;
  background-color: #e6ffff;
}
 img {
   padding: 5px;
 }
ul {
  list-style: none;
  padding-left: 1px;
}
