/* add your CSS here */

.card {
  padding: 8px;
  border: 1px solid #DCDCDC;
  box-shadow: 5px 8px #DCDCDC;
  width: 305px;
}

.facts {
  border: 1px solid #DCDCDC;
  padding: 8px;
}
 img {
   padding: 5px;
 }
ul {
  list-style: none;
  padding-left: 1px;
}
